doctype html
html
	head
		include ./head.jade
	body
		div.container
			include ./navbar.jade
			form.form-horizontal(role='form',method="POST",action="/teams/testImg",enctype="multipart/form-data")
				div.form-group
					div.col-xs-3.col-xs-offset-3
						input.form-control#game-img(name='imgFile',type='file',accept='image/png,image/jpeg,image/jpg')
				div.form-group
					div.col-xs-3.col-xs-offset-5
						button.btn.btn-primary(type='submit') 确定