doctype html
html
	head
		include ./head.jade
	body
		include ./navbar.jade
		div.container.text-center
			div.row
				div.col-xs-2
					ul.nav.nav-pills.nav-stacked.text-center
						li
							a.row(href="/games/gameList")
								p.navbar-font 赛事列表
						div.line
						li.active
							a.row(href="/games/gameAdd")
								p.navbar-font 添加赛事
				div.col-xs-10
					div.panel.panel-primary.panel-block
						div.panel-heading
							div.panel-title.title
								p 添加赛事
						div.panel-body
							form.form-horizontal(role='form',method="POST",action="",enctype="multipart/form-data")
								div.form-group
									label.col-xs-3.control-label(for='game-name') 赛事名称
									div.col-xs-5
										input.form-control#game-name(type='text')
								hr
								div.form-group
									label.col-xs-3.control-label(for='game-time') 时间
									div.col-xs-5
										input.form-control#game-time(type='text')
								hr
								div.form-group
									label.col-xs-3.control-label(for='award-limit') 奖金上限
									div.col-xs-5
										input.form-control#award-limit(type='text')
								hr
								div.form-group
									label.col-xs-3.control-label(for='award-minimum') 奖金下限
									div.col-xs-5
										input.form-control#award-minimum(type='text')
								hr
								div.form-group
									label.col-xs-3.control-label(for='game-logo') 赛事logo
									div.col-xs-5
										input.form-control#game-logo(type='file',accept='image/png,image/jpeg,image/jpg')
								hr
								div.form-group
									div.text-center
										button.btn.btn-primary(type='submit') 确定