meta(charset="UTF-8")
meta(name="viewport",content="width=device-width, initial-scale=1.0")
link(href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css",rel="stylesheet")
link(rel="stylesheet" href="/stylesheets/game.css")
link(rel="stylesheet" href="/stylesheets/navbar.css")
script(src="/javascripts/jquery.min.js")
script(src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js")