doctype html
html
	head
		include ./head.jade
	body
		include ./navbar.jade
		script(type="text/javascript").
			$("#allGame").removeClass("active");
			$("#allTeam").addClass("active");
		div.container.text-center
			div.row
				div.col-xs-2
					ul.nav.nav-pills.nav-stacked.text-center
						li
							a.row(href="/teams?pos=campus")
								p.navbar-font 球队列表
						div.line
						li.active
							a.row(href="/teams/teamAdd")
								p.navbar-font 添加球队
				div.col-xs-10
					div.panel.panel-primary.panel-block
						div.panel-heading
							div.panel-title.title
								p 添加球队
						div.panel-body
							form.form-horizontal(role='form',method="POST",action="/teams/add?pos=campus",enctype="multipart/form-data")
								div.form-group
									label.col-xs-3.control-label(for='name') 队名
									div.col-xs-5
										input.form-control#name(type='text',name='name')
								hr
								div.form-group
									label.col-xs-3.control-label(for='info') 简介
									div.col-xs-5
										textarea.form-control#info(rows="5",name='info')
								hr
								div.form-group
									label.col-xs-3.control-label(for="logoUrl") 球队logo
									div.col-xs-4
										input.form-control#logoUrl(type='file',accept='image/png,image/jpeg,image/jpg',name='logoUrl')
								hr
								div.form-group
									div.text-center
										button.btn.btn-primary(type='submit') 确定