.game-border{
	border: solid 1px #d9d9d9;
	width: 100%;
	height: 560px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #FFFFFF;
	border-radius: 10px;

}
.coverUrl{
	width: 30%;
	height: 20%;
}
.team-img{
	width: 60px;
	height: 40px;
}
.line{
	margin-top: 5px;
	margin-bottom: 5px;
	border: solid 1px #d9d9d9;
	width: 100%;
}
.title{
	font-size: 30px;
}
.block{
	overflow-x: hidden;
	overflow-y: auto;
	height: 250px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.panel-block{
	overflow-x: hidden;
	overflow-y: auto;
	height: 500px;
}
.empty{
	border: dashed 1px #000000;
	cursor: pointer;
}
.empty p{
	font-size: 200px;
	color: #d9d9d9;
	line-height: 230px;
}
.money p:before{
	content: ï¿¥
}